/* Table of contents */


/********************/


/*1. Font Faces*/


/*2. Base*/


/*3. Layout*/


/*4. Component*/


/***block*/


/***element*/


/***modifier*/


/***state*/


/*5. Media Queries*/


/*********************************************************************************/


/*FONT FACES*/


/***********/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf')
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('../fonts/Raleway-Light.ttf')
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf')
}



/*BASE*/


/***********/
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 53, 97);
}

header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    background-image: url('http://be.ukwebdev.com/images/dotted-worldmap.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

nav {
    text-align: center;
    justify-self: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.7rem;
    align-self: center;
    margin: 20vh auto 10px auto;
}

h2 {
    font-size: 2.9rem;
    margin-top: -5px;
}

h3 {
    font-size: 1.6rem;
}

h3::before {
    content: "- ";
}

h3::after {
    content: " -";
}

h4 {
    font-size: 1.4rem;
    margin-top: 16px;
}

h4:after {
    content:'___';
    display: block;
}

p {
  margin: 0 auto;
  line-height: 24px;
  font-size: 1.6rem;
}

ul {
    list-style: none;
    margin: 0;
    line-height: 30px;
    padding: 10px 0 0 10px;
}

li {
 
}

form {
    align-self: center;
    margin: 0 auto auto auto;
}

input[type="text"] {
    height: 50px;
    width: 430px;
    margin-right: -4px;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    /* box-shadow: 0 0 5px 1px rgb(255, 255, 255); */
    padding-left: 39px;
    color: rgb(185, 185, 185);
    position: relative;
}

input[type="text"]:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}
fieldset > input, fieldset > select, fieldset > textarea {
    margin-bottom: 20px;
}


i {
    font-size: 6.9rem;
    color: #9b4dca;
}

video {
    max-height: 100vh;
    width: 110vw;
}

mark {
    background: #f1ddff;
}

::selection {
    color: rgb(0, 217, 255); 
    background: rgb(161, 0, 0);
}




/*LAYOUT*/
/***********/

.nav__bar {
    display: flex;
}

.header__video {
    position: absolute;
    z-index: -1;
    opacity: .4;
    background-color: rgb(253, 253, 255);
}

.ad {
    top: 50px;
    right: 30px;
    position: absolute;
    z-index: 10000;
    max-width: 60%;
}

.summary {
    padding: 20px 0 70px 0;
}

.workflow {
    display: flex;
    padding: 20px 0 70px 0;
}

.newest {
    min-height: 200px;
}

.categories {
    background-color: #fafafa;
    padding: 40px 0;
}

.subscribe {
    display: flex;
    background-image: url('../round.png');
    background-repeat: repeat;
    max-height: 400px;
    text-align: center;
    padding: 30px 0 170px 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background: rgb(49, 49, 49);
    justify-content: space-around;
    min-height: 400px;
    padding-top: 30px;
    border-top: 9px solid rgb(80, 80, 80);
}

.footer__bar {
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgb(46, 46, 46);
    color: white;
    padding: 10px 0 0 0;
}

/*COMPONENT*/


/***********/


/*block*/
/***********/
.wokflow__content {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.categories__content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.ad__form {
    padding: 30px 50px 30px 30px;
    background-color: #ffffff;
    box-shadow: 0 20px 100px rgb(97, 97, 97),
                0 50px 100px rgb(146, 146, 146);
    border-radius: 2%;
}

/*element*/
/***********/

.header__logo {
    max-width: 200px;
    padding: 10px 0 0 60px;
    filter: hue-rotate(-65deg);
}

.header__button {
    margin: 10px 10px 0 auto;
}

.header__subtitle {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.header__description {
    margin: -100px auto auto auto;
    max-width: 80%;
    text-align: center;
}

.nav__list-item {
    display: inline-block;
    width: 70px;
}

.form__label {
    font-size: 4rem;
    position: absolute;
    display: inline-block;
    z-index: 1;
    padding: 6px;
    margin-bottom: 10px;
    color: rgb(214, 214, 214);
    line-height: 0;
}

.ad__label {
    position: static;
    text-align: left;
    font-size: 2rem;
    padding: 17px 0 5px 0;
}

.ad__header {
    display: inline-block;
}

.btn {
        -moz-box-shadow:inset 0 1px 0 0 #ffffff;
        -webkit-box-shadow:inset 0px 1px 0 0 #ffffff;
        box-shadow:inset 0 1px 0 0 #ffffff;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
        background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
        background-color:#ededed;
        -webkit-border-top-left-radius:6px;
        -moz-border-radius-topleft:6px;
        border-top-left-radius:6px;
        -webkit-border-top-right-radius:6px;
        -moz-border-radius-topright:6px;
        border-top-right-radius:6px;
        -webkit-border-bottom-right-radius:6px;
        -moz-border-radius-bottomright:6px;
        border-bottom-right-radius:6px;
        -webkit-border-bottom-left-radius:6px;
        -moz-border-radius-bottomleft:6px;
        border-bottom-left-radius:6px;
    text-indent:0;
        border:1px solid #dcdcdc;
        display:inline-block;
        color:#777777;
        font-family: 'Arial', sans-serif;
        font-size:15px;
        font-weight:bold;
        font-style:normal;
    height:50px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0 #ffffff;
    }
    
    .btn:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
        background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );

        background-color:#dfdfdf;
    }
    .btn:active {
        position:relative;
        top:1px;
    }
    .workflow__image {
        margin-top: 80px;
    }


article {
    border: 1px solid lightgray;
    text-align: center;
    max-width: 29%;
    min-width: 250px;
    min-height: 300px;
    margin: 25px auto;
    padding: 0 4% 10px 4%;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    will-change: auto;
}

aside {
    border: 1px solid rgb(143, 143, 143);
    text-align: left;
    width: 23%;
    min-width: 300px;
    max-height: 330px;
    margin: 25px auto;
    padding: 30px 4% 10px 4%;
    box-sizing: border-box;
    color: rgb(241, 241, 241);
}
aside:nth-child(2){
    max-width: 300px;
}

.categories__description {
    margin-top: -20px;
    padding-top: 0;
}

.subscribe__form {
    margin: auto;
    line-height: 120px;
    max-width: 70%;
    
}

hr {
    width: 100%;
    margin-bottom: 10px;
}

.social {
    margin-top: -10px;
}

.social__icon {
    display: inline-block;
}

.social__icon i {
    font-size: 2rem;
    width: 40px;
    margin-right: 10px;
    color: rgb(206, 91, 91);
}

.footer__copyright {
    font-size: 1rem;
}

.footer__links, .footer__trending {
list-style-type: disc;
}

/*modifier*/
/***********/
form .btn--form {
    height: 50px;
    margin: 0 0 0 2px;
    padding-bottom: 2px;
    background-color: #9b4dca;
    border-color: #9b4dca;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.font--light {
    font-family: 'Raleway-Light', sans-serif;
}

.font--alert {
    color: #9b4dca;
}

.font--neutral {
    color: rgb(211, 211, 211);
}

.font--white {
    color: #ffffff;
}


.font--aside {
    font-size: 1.3rem;
    text-align: justify;
}

.subscribe--subtitle {
    margin-top: 0;
}

.btn--learnmore {
    margin-top: 30px;
}

.button--postad {
    z-index: 100;
}

/*state*/
/***********/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    right: 40px
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    right: -1000px;
  }

.btn:hover {
    background-color: #eb675e;
}

.btn:active {
    position: relative;
    top: 1px;
}

.nav__list-item:hover {}

.social__icon:hover {
    transform: scale(1.4) rotate(20deg);
    transition: all .3s;
    cursor: pointer;
    will-change: auto;
}

article:hover {
    background: #9b4dca;
    transition: background .6s;
    color: #ffffff;
    will-change: auto;
}

article:hover i {
    border: 2px solid #ffffff;
    border-radius: 100%;
    background-color: #ffffff;
    color: rgb(195, 195, 195);
    width: 60%;
    transition: border-radius .1s;
    will-change: auto;
    transform: scale(1.2) rotate(-20deg);
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid rgb(255, 255, 255);
}

a:hover {
border-bottom: 1px dashed rgb(190, 0, 0);
box-shadow: 0 8px 20px 0 rgb(241, 241, 241);
transition: .4s;
padding-bottom: 5px;
}
/*MEDIA QUERIES*/


/***********/
