/* Table of contents */


/********************/


/*1. Font Faces*/


/*2. Base*/


/*3. Layout*/


/*4. Component*/


/***block*/


/***element*/


/***modifier*/


/***state*/


/*5. Media Queries*/


/*********************************************************************************/


/*FONT FACES*/


/***********/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf')
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('../fonts/Raleway-Light.ttf')
}



/*BASE*/


/***********/

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway';
    color: rgb(0, 53, 97);
}

header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    /* background-image: url('http://www.philrawlings.com/images/map%20background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed; */
}

nav {
    text-align: center;
    justify-self: center;
}

h1 {
    align-self: center;
    margin: 25vh auto 20px auto;
}

p {
  margin: 0 auto;
  line-height: 24px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
    padding: 10px 0 0 10px;
}

li {
 
}

form {
    align-self: center;
    margin: 30px auto auto auto;
}

input {
    height: 50px;
    width: 500px;
    margin-right: -4px;
    border: .3px solid rgb(204, 204, 204);
    outline: none;
    /* box-shadow: 0 0 5px 1px rgb(255, 255, 255); */
    border-width: 1px;
    padding-left: 15px;
    color: rgb(185, 185, 185);
}

input:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}


/*LAYOUT*/
/***********/

.nav__bar {
    display: flex;
}

.header__video {
    position: absolute;
    z-index: -1;
    opacity: .4;
}

.workflow {
    display: flex;
}

.newest {
    min-height: 200px;
}

.categories {
    background-color: #fafafa;
    padding: 40px 0;
}

.subscribe {
    display: flex;
    background-image: url('../round.png');
    background-repeat: repeat;
    max-height: 300px;
    text-align: center;
    padding: 30px 0;
}

footer {
    display: flex;
    background: rgb(49, 49, 49);
    justify-content: space-around;
    min-height: 500px;
    padding-top: 30px;
}

.footer__bar {
    text-align: center;
    display: flex;
    background: rgb(49, 49, 49);
    color: white;
}

/*COMPONENT*/


/***********/


/*block*/
/***********/
.wokflow__content {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.categories__content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}



/*element*/
/***********/

.header__logo {
    max-width: 100px;
    padding: 10px 0 0 60px;
}

.header__button {
    margin: 10px 10px 0 auto;
}

.header__subtitle {
    align-self: center;
}

.nav__list-item {
    display: inline-block;
    width: 70px;
}

.btn {
    -moz-box-shadow: inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow: inset 0px 39px 0px -24px #e67a73;
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    outline: none;
}

.btn:hover {
    background-color: #eb675e;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn__form {
    height: 54px;
    width: 130px;
    margin-left: -16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: rgb(116, 116, 116);
    border-left: none;
}

article {
    border: 1px solid lightgray;
    text-align: center;
    max-width: 29%;
    min-height: 300px;
    margin: 25px auto;
    padding: 0 4% 10px 4%;
    box-sizing: border-box;
    background-color: #ffffff;
}

aside {
    border: 1px solid lightgray;
    text-align: left;
    width: 29%;
    max-height: 330px;
    margin: 25px auto;
    padding: 10px 4% 10px 4%;
    box-sizing: border-box;
    color: rgb(241, 241, 241);
}
aside:nth-child(2){
    max-width: 300px;
}

.subscribe__form {
    margin: auto;
    line-height: 120px;
    
}

hr {
    width: 100%;
}

/*modifier*/
/***********/
.btn--medium {
    max-width: 150px;
    margin: 40px 0 10px 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.font--light {
    font-family: 'Raleway-Light'
}


/*state*/


/***********/

.nav__list-item:hover {}


/*MEDIA QUERIES*/


/***********/
