/* Table of contents */


/********************/


/*1. Font Faces*/


/*2. Base*/


/*3. Layout*/


/*4. Component*/


/***block*/


/***element*/


/***modifier*/


/***state*/


/*5. Media Queries*/


/*********************************************************************************/


/*FONT FACES*/


/***********/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf')
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('../fonts/Raleway-Light.ttf')
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf')
}



/*BASE*/


/***********/
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway';
    color: rgb(0, 53, 97);
}

header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    background-image: url('http://be.ukwebdev.com/images/dotted-worldmap.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

nav {
    text-align: center;
    justify-self: center;
}

h1 {
    font-family: 'Oswald';
    font-size: 3.7rem;
    align-self: center;
    margin: 25vh auto 20px auto;
}

h2 {
    font-size: 2.9rem;
    margin-top: -5px;
}

h3 {
    font-size: 1.6 rem;
}

h3::before {
    content: "- ";
}

h3::after {
    content: " -";
}

h4 {
    font-size: 1.4rem;
    margin-top: 16px;
}

h4:after {
    content:'___';
    display: block;
}

p {
  margin: 0 auto;
  line-height: 24px;
  font-size: 1.6rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
    padding: 10px 0 0 10px;
}

li {
 
}

form {
    align-self: center;
    margin: 30px auto auto auto;
}

input {
    height: 50px;
    width: 400px;
    margin-right: -4px;
    border: .3px solid rgb(204, 204, 204);
    outline: none;
    /* box-shadow: 0 0 5px 1px rgb(255, 255, 255); */
    border-width: 1px;
    padding-left: 39px;
    color: rgb(185, 185, 185);
    position: relative;
}

input:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}


i {
    font-size: 6.9rem;
    color: rgb(201, 0, 0);
}

label {
    font-size: 4rem;
    position: absolute;
    z-index: 1;
    padding: 6px;
    color: rgb(214, 214, 214);
}

video {
    max-height: 100vh;
}

mark {
    background: rgb(255, 218, 218);
}

::selection {
    color: rgb(0, 217, 255); 
    background: rgb(161, 0, 0);
}



/*LAYOUT*/
/***********/

.nav__bar {
    display: flex;
}

.header__video {
    position: absolute;
    z-index: -1;
    opacity: .4;
}

.summary {
    padding: 20px 0 70px 0;
}

.workflow {
    display: flex;
    padding: 20px 0 70px 0;
}

.newest {
    min-height: 200px;
}

.categories {
    background-color: #fafafa;
    padding: 40px 0;
}

.subscribe {
    display: flex;
    background-image: url('../round.png');
    background-repeat: repeat;
    max-height: 300px;
    text-align: center;
    padding: 30px 0 170px 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background: rgb(49, 49, 49);
    justify-content: space-around;
    min-height: 400px;
    padding-top: 30px;
    border-top: 9px solid rgb(80, 80, 80);
}

.footer__bar {
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgb(46, 46, 46);
    color: white;
    padding: 10px 0 0 0;
}

/*COMPONENT*/


/***********/


/*block*/
/***********/
.wokflow__content {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.categories__content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}



/*element*/
/***********/

.header__logo {
    max-width: 100px;
    padding: 10px 0 0 60px;
}

.header__button {
    margin: 10px 10px 0 auto;
}

.header__subtitle {
    align-self: center;
    font-size: 2rem;
}

.header__description {
    margin: -100px auto auto auto;
    max-width: 80%;
    text-align: center;
}

.nav__list-item {
    display: inline-block;
    width: 70px;
}

.btn {

        font-family: 'Open Sans';
        font-size: 14px;
        color: #123d54;
        background: -moz-linear-gradient(
            top,
            #faafaf 0%,
            #f27777);
        background: -webkit-gradient(
            linear, left top, left bottom,
            from(#faafaf),
            to(#f27777));
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #ff2424;
        -moz-box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 1px rgba(230,230,230,1);
        -webkit-box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 1px rgba(230,230,230,1);
        box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 1px rgba(230,230,230,1);
        text-shadow:
            0px -1px 0px rgba(000,000,000,0.7),
            0px 1px 0px rgba(255,255,255,0.3);
            line-height: 50px;
            cursor: pointer;
    }


article {
    border: 1px solid lightgray;
    text-align: center;
    max-width: 29%;
    min-width: 250px;
    min-height: 300px;
    margin: 25px auto;
    padding: 0 4% 10px 4%;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    will-change: auto;
}

aside {
    border: 1px solid rgb(143, 143, 143);
    text-align: left;
    width: 23%;
    min-width: 300px;
    max-height: 330px;
    margin: 25px auto;
    padding: 10px 4% 10px 4%;
    box-sizing: border-box;
    color: rgb(241, 241, 241);
}
aside:nth-child(2){
    max-width: 300px;
}

.categories__description {
    margin-top: -20px;
    padding-top: 0;
}

.subscribe__form {
    margin: auto;
    line-height: 120px;
    
}

.subscribe__description {
    margin-top: 30px;
}

hr {
    width: 100%;
    margin-bottom: 10px;
}

.social {
    margin-top: -10px;
}

.social__icon {
    display: inline-block;
}

.social__icon i {
    font-size: 2rem;
    width: 40px;
    margin-right: 10px;
    color: rgb(206, 91, 91);
}

.footer__copyright {
    font-size: 1rem;
}

.footer__links, .footer__trending {
list-style-type: disc;
}

/*modifier*/
/***********/
.btn--medium {
    max-width: 150px;
    margin: 40px 0 10px 0;
}


.btn--form {
    height: 54px;
    width: 130px;
    padding: 0 0 2px 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* border-color: rgb(204, 204, 204); */
    border-left: none;
}

.btn--newadd {
   
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.font--light {
    font-family: 'Raleway-Light'
}

.font--alert {
    color: rgb(255, 0, 0);
}

.font--neutral {
    color: rgb(211, 211, 211);
}

.font--white {
    color: #ffffff;
}


.font--aside {
    font-size: 1.3rem;
    text-align: justify;
}

.subscribe--subtitle {
    margin-top: 0;
}

/*state*/
/***********/


.btn:hover {
    background-color: #eb675e;
}

.btn:active {
    position: relative;
    top: 1px;
}

.nav__list-item:hover {}

.social__icon:hover {
    transform: scale(1.4) rotate(20deg);
    transition: all .3s;
    cursor: pointer;
    will-change: auto;
}

article:hover {
    background: rgb(255, 156, 156);
    transition: background .6s;
    color: #ffffff;
    will-change: auto;
}

article:hover i {
    border: 2px solid #ffffff;
    border-radius: 100%;
    background-color: #ffffff;
    color: rgb(255, 0, 60);
    width: 50%;
    transition: border-radius .1s;
    will-change: auto;
    transform: scale(1.2) rotate(-20deg);
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid rgb(255, 255, 255);
}

a:hover {
border-bottom: 1px dashed rgb(190, 0, 0);
box-shadow: 0 8px 20px 0 rgb(241, 241, 241);
transition: .4s;
padding-bottom: 5px;
}
/*MEDIA QUERIES*/


/***********/
